.colorCard {
    height: 300px;
    width: 300px;
}
.flash {
}
.red {
  background-color: red;
  border-top-right-radius: 100%;
}
.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
}
.green {
  background-color: green;
  border-top-left-radius: 100%;
}
.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}
